@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');

/*Light(300) Regular(400) Medium(500) semi-Bold(600) Bold(700) Black(900) */


/* Filter Generator for SVG  https://codepen.io/sosuke/pen/Pjoqqp?__cf_chl_jschl_tk__=9a48fb9d11ce0facdc952ab4db573b643d172c26-1597061727-0-Ae0-NhPSNjyS42LPxZj2e0faEi4WDMLN1Ri9zkHu1zgfLL-3gc1rByXG1xctWYUkvbwlwOkOdmH04Sqt0Z0ZiblLV0eR39bi1dwQGo6brm8tOntxLbSgcr_04Z9mWQzP8HRDdWV93so11-x7ExN21mSsLregc4UuonF9ZAqz859GeJyokibQPpcTJnhVZuX2mWzOjN01Z1wJE9vx1Zdt443gmL65aJpzgt6WcIDv8UcSabO2EX6VlDq221fASy2ZZD0DgVb-QW-dszq7zMb1l3mcjiykeQpt22P18pN8o8SU4KzfUvub_rwsui5dlkQPFqTYS3ZbnzNSm36X5S37wLeKk_Z4GTZpFWsZEDdUJmU3*/

.jumbotron {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-shadow: 2px 2px #000;
    height: 750px;
}

.lead span {
    color: orange;
    font-weight: bold;
}

.body-login {
    background-color: #000;
}

.body-global {
    background: #F9F9F9;
}


/* Landing Page */

.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
}

.font-navbar {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

@media (max-width: 575.98px) {
    .navbar-collapse {
        background-color: #FFFFFF;
    }
    .nav-item {
        margin-top: 10px;
    }
    .font-black {
        font-family: 'Poppins';
        font-size: 30px;
        font-weight: 900;
        color: #FFFFFF;
        letter-spacing: 30;
        margin-top: 5em;
        text-shadow: 0px 3px 6px rgb(0, 0, 0, 0.16);
        border: none;
    }
    .font-landing-regular {
        font-family: 'Poppins';
        font-size: 15px;
        font-weight: 400;
        color: #FFFFFF;
        letter-spacing: 20;
    }
    .font-menu-landingpage {
        font-family: 'Poppins';
        font-size: 20px;
        font-weight: 600;
        color: #21272C;
        letter-spacing: 20;
        text-align: center !important;
    }
    .font-submenu-landingpage {
        font-family: 'Poppins';
        font-size: 13px;
        font-weight: 300;
        color: #21272C;
        letter-spacing: 20;
        text-align: center !important;
    }
}

@media (min-width: 576px) and (max-width: 991.98px) {
    .image-tablet img {
        height: 230px;
        width: 230px;
    }
    .font-menu-landingpage {
        font-family: 'Poppins';
        font-size: 25px;
        font-weight: 600;
        color: #21272C;
        letter-spacing: 20;
    }
    .font-submenu-landingpage {
        font-family: 'Poppins';
        font-size: 14px;
        font-weight: 300;
        color: #21272C;
        letter-spacing: 20;
    }
}

.image-mobile-landingpage img {
    height: 141px;
    width: 141px;
    margin-top: 53px;
    margin-bottom: 40px;
}

.button-mobile-landingpage {
    margin-top: 24px;
}

.masthead .main-landing-image-layer {
    background: rgb(0, 0, 0, 0.35);
    height: 100%;
}

.mobile-logo {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
}

.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('assets/landing-image.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar-toggler {
    background-color: #FFFFFF;
    border: none;
    color: #000;
}

.navbar-nav.ml-auto.h5 li a {
    color: #000000;
}

.navbar a {
    font-family: 'Poppins' !important;
    font-size: 0.8em !important;
    font-weight: 400 !important;
}

.button-navbar {
    font-family: 'Poppins';
    font-size: 0.9em;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 92px;
    height: 38px;
    border-radius: 5;
    background: #1B262C;
}

.font-black {
    font-family: 'Poppins';
    font-size: 50;
    font-weight: 900;
    color: #FFFFFF;
    letter-spacing: 30;
    border: none;
    margin-top: 1.5em;
    text-shadow: 0px 3px 6px rgb(0, 0, 0, 0.16);
}

.font-landing-regular {
    font-family: 'Poppins';
    font-size: 30;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 20;
    padding-bottom: 0;
}

.font-menu-landingpage {
    font-family: 'Poppins';
    font-size: 40;
    font-weight: 600;
    color: #21272C;
    letter-spacing: 20;
}

.font-submenu-landingpage {
    font-family: 'Poppins';
    font-size: 18;
    font-weight: 300;
    color: #21272C;
    letter-spacing: 20;
}

.button-menu-right-landingpage {
    float: right;
    margin-top: 38px;
}

.button-menu-left-landingpage {
    float: left;
    margin-top: 38px;
}

.text-button-landingpage {
    font-family: 'Poppins';
    font-size: 14;
    font-weight: 500;
}

.overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.footer {
    background: #1B262C;
}

.footer-title {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.footer-subtitle {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}

.footer-menu {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #707070;
}

.footer-logo {
    margin-left: 0.8em;
    filter: invert(44%) sepia(14%) saturate(5%) hue-rotate(323deg) brightness(96%) contrast(95%);
}

.footer-title-mobile {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.footer-subtitle-mobile {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    color: #707070;
}

.footer-menu-mobile {
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    color: #707070;
}

.footer-logo-mobile {
    filter: invert(44%) sepia(14%) saturate(5%) hue-rotate(323deg) brightness(96%) contrast(95%);
}


/* Landing Page */


/*Login Page */

.login-container {
    margin-top: 5em;
}

.custom-card {
    background: transparent;
}

.login-title {
    font-family: 'Poppins';
    font-size: 2.5em;
    font-weight: 600;
    color: #000000;
}

.input-width {
    width: 20em;
    height: 2.5em;
}

.button-login {
    background: #1B262C;
}

.font-form {
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: 400;
    color: #000000;
}


/*Login Page */


/*Workshop */

.margin-table {
    margin-top: 3em;
}

.table-background {
    background: #1B262C;
}

.table-top-row {
    font-family: 'Poppins';
    font-size: 1.1em;
    font-weight: 600;
    color: #FFFFFF !important;
}

.table-row {
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: 500;
    color: #000000;
    letter-spacing: 0.05em;
}

.button-row {
    border-radius: 2em;
    font-family: 'Poppins';
    font-size: 0.9em;
    font-weight: 500;
    color: #FFFFFF;
}

.workshop-title {
    font-family: 'Poppins';
    font-size: 2em;
    font-weight: 600;
    color: #000000;
    letter-spacing: 0.05em;
    margin-top: 4em;
}

.workshop-subtitle {
    font-family: 'Poppins';
    font-size: 1em;
    font-weight: 400;
    color: #000000;
    letter-spacing: 0.05em;
}


/*Workshop */


/* Bank Materi */

.search-button {
    margin-top: 8em;
    border: none;
    border-radius: 10px;
    /*font-family: 'Poppins';
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF; */
}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #1B262C;
    float: left;
    width: 80%;
    background: transparent;
    border-radius: 5px 0px 0px 5px;
}


/* Style the submit button */

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #1B262C;
    color: #FFFFFF;
    font-size: 17px;
    border: 1px solid #1B262C;
    border-left: none;
    border-radius: 0px 5px 5px 0px;
    /* Prevent double borders */
    cursor: pointer;
}

form.example button:hover {
    background: #0b7dda;
}


/* Clear floats */

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.plus-icon {
    float: left;
    filter: invert(100%) sepia(2%) saturate(7%) hue-rotate(336deg) brightness(104%) contrast(104%);
    width: 18px;
    margin-right: 10px;
}

.btn-materi {
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    height: 45px;
}

.tambah-materi-button {
    margin-top: 8em;
}

.card-custom {
    display: block;
    border: none;
    margin-right: auto;
    background: transparent;
}

.video-title {
    font-family: 'Poppins';
    font-size: 22px;
    font-weight: 600;
    color: #000000;
    padding-right: auto;
    text-align: center;
}

.video-writer {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    padding-right: auto;
    text-align: center;
}

.btn-video {
    background: #1B262C;
    border: none;
    text-align: center;
    display: block;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}


/* Bank Materi */