@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap') ;
/*Light(300) Regular(400) Medium(500) semi-Bold(600) Bold(700) Black(900) */


.jumbotron {
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    text-shadow: 2px 2px #000;
    height: 750px;
  }
  
  .lead span {
    color: orange;
    font-weight: bold;
  }
  /* Landing Page */

  .navbar-custom {
    background: #FFFFFF ;
    box-shadow: 0px 8px 8px -6px rgba(0,0,0,.5);
    height: 58px;
  }

  @media (max-width: 575.98px) { 
    .navbar-collapse
    {
        background-color:#FFFFFF;
    }
    .font-black {
      font-family: 'Poppins';
      font-size: 30px;
      font-weight: 900;
      color: #FFFFFF;
      letter-spacing: 30;
    }
    .font-landing-regular {
      font-family: 'Poppins';
      font-size: 15px;
      font-weight: 400;
      color: #FFFFFF;
      letter-spacing: 20;
    }
    .font-menu-landingpage {
      font-family: 'Poppins';
      font-size: 20px;
      font-weight: 600;
      color: #21272C;
      letter-spacing: 20;
      text-align: center !important;
    } 
    .font-submenu-landingpage {
      font-family: 'Poppins';
      font-size: 13px;
      font-weight: 300;
      color: #21272C;
      letter-spacing: 20;
      text-align: center !important;
    }
    .button-menu-right-landingpage {
      margin-top: 38px;
      margin-bottom: 50px;  
      margin-right: 30%;
    }
    .button-menu-left-landingpage {
      margin-left: 30%;
      margin-top: 38px;
      margin-bottom: 50px;
    }
  }

  @media (min-width: 576px) and (max-width: 991.98px) { 
    .image-tablet img {
      height: 230px;
      width: 230px;
    }
    .font-menu-landingpage {
      font-family: 'Poppins';
      font-size: 25px;
      font-weight: 600;
      color: #21272C;
      letter-spacing: 20;
    } 
    .font-submenu-landingpage {
      font-family: 'Poppins';
      font-size: 14px;
      font-weight: 300;
      color: #21272C;
      letter-spacing: 20;
    }
  }

  .image-mobile-landingpage img {
    height: 141px;
    width: 141px;
    margin-top: 53px;
    margin-bottom: 40px;
  }

  .masthead .main-landing-image-layer {
    background: rgb(0, 0, 0, 0.35);
    height: 100%;
  }

  .mobile-logo {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
  
  .masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('assets/landing-image.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .navbar-toggler{
    background-color: #FFFFFF;
    border:none;
    color: #000;
}

  .navbar-nav.ml-auto.h5 li a {
    color: #000000;
  } 

  .navbar a {
    font-family: 'Poppins' !important;
    font-size: 0.8em !important;
    font-weight: 400 !important;
  }

  .button-navbar {
    font-family: 'Poppins';
    font-size: 0.9em;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 0;
    width: 92px;
    height: 38px;
    border-radius: 5;
    background: #1B262C;
  }
  
  .font-black {
    font-family: 'Poppins';
    font-size: 50;
    font-weight: 900;
    color: #FFFFFF;
    letter-spacing: 30;
  }

  .font-landing-regular {
    font-family: 'Poppins';
    font-size: 30;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 20;
    padding-bottom: 0;
  }

  .font-menu-landingpage {
    font-family: 'Poppins';
    font-size: 40;
    font-weight: 600;
    color: #21272C;
    letter-spacing: 20;
  } 

  .font-submenu-landingpage {
    font-family: 'Poppins';
    font-size: 18;
    font-weight: 300;
    color: #21272C;
    letter-spacing: 20;
  }

  .button-menu-right-landingpage {
    float: right;
    margin-top: 38px;
  }

  .button-menu-left-landingpage {
    float: left;
    margin-top: 38px;
  }

  .text-button-landingpage {
    font-family: 'Poppins';
    font-size: 14;
    font-weight: 500;
  }

  .overlay {
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

.footer {
  background: #1B262C;
}


/* Landing Page */